{% include "_components/components/project/py/base/pyproject-base.toml.jinja" %}

{% include "_components/components/project/py/library/pyproject-library.toml.jinja" %}

{% include "_components/components/quality/py/ruff.toml.jinja" %}
